.DS_Store
classes
**/*.class
.settings
target
target-eclipse
.idea
**/*.iml
**/*.log
logs
out
bin
test-output
.metadata
.classpath
.project
atlassian-ide-plugin.xml
Resources
build
build.log
**/*~
dist
.ctags
.includepath
.project